<div class="register-header">
  <h1>Login</h1>
</div>

<div class="divider"></div>
<%= form_tag sessions_path do %>
<div class="card-row-container">
  <div class="register-card">
    <div class="card-heading">
      <p>Enter Email</p>
    </div>
    <div class="card-center">
      <%= text_field_tag :email, "", class: "text-input" %>
    </div>
    <div class="card-footer">
      <p>Once again...this is never shared.</p>
    </div>
  </div>

  <div class="register-card">
    <div class="card-heading">
      <p>Enter Password</p>
    </div>
    <div class="card-center">
      <%= password_field_tag :password, "", class: "text-input catpants-password" %>
    </div>
    <div class="card-footer">
      <%= label_tag :password, "", class:"catpants" %>
    </div>
  </div>


  <div class="register-card">
    <div class="card-heading">
      <p>Sign In</p>
    </div>

    <div class="card-center">
      <%= submit_tag "Sign In", class: "sign-up-button" %>
    </div>

    <div class="card-footer">
      <p>Check out Cat Pants!</p>
      <%= link_to "Cat Pants Gem","https://rubygems.org/gems/catpants", class: "cat-pants-button" %>
    </div>
  </div>

</div>
<% end %>
