<div class="bar-image">
  <div class="margin-left">
    <h1 class="section-header">Login</h1>
    <div class="margin-left">
      <%= form_tag sessions_path do %>
      <h2 class="white-text">Email Address</h2>
      <%= text_field_tag :email, "", class: "text-input" %>
      <h2 class="white-text black-shadow"><%= label_tag :password, "Password",class:"catpants" %></h2>

      <div class="cat-pants-button-container">
        <%= password_field_tag :password, "", class: "text-input catpants-password" %>

        <%= link_to "https://rubygems.org/gems/catpants" do %>
          <p class="cat-pants-button">Cat Pants Gem</p>
        <% end %>
      </div>
      <br/>
      <%= submit_tag "Sign In", class: "button green" %>
      <% end %>
    </div>
  </div>
</div>
