api: bundle exec puma -C config/puma.rb
web: cd client && npm start


this is to start db and react client.


<div class="margin-left">
  <h2 class="white-text">Email</h2>
  <!-- <%= f.text_field :email, class: "text-input" %> -->

  <% if @user.persisted? %>
    <h2 class="white-text black-shadow"><%= label_tag :current_password, "Current Password",class:"catpants" %></h2>
    <%= f.password_field :current_password, class: "text-input catpants-password" %>
  <% end %>

  <% if @user.persisted? %>
    <h2 class="white-text black-shadow"><%= label_tag :password, "New Password",class:"catpants" %></h2>
  <% else %>
    <h2 class="white-text black-shadow"><%= label_tag :password, "Password",class:"catpants" %></h2>
  <% end %>
  <!-- <%= f.password_field :password, class: "text-input catpants-password" %> -->

  <% if @user.persisted? %>
    <h2 class="white-text black-shadow"><%= label_tag :password_confirmation, "New Password Confirmation",class:"catpants" %></h2>
  <% else %>
    <h2 class="white-text black-shadow"><%= label_tag :password_confirmation, "Password Confirmation",class:"catpants" %></h2>
  <% end %>


  <div class="cat-pants-button-container">
    <%= f.password_field :password_confirmation, class: "text-input catpants-password" %>

    <%= link_to "https://rubygems.org/gems/catpants" do %>
    <p class="cat-pants-button">Cat Pants Gem</p>
    <% end %>
  </div>
  <br/>
</div>

<div class="margin-left">
  <%= f.button :submit, "Save", class: "sign-up-button" %>
</div>
