



<div class="card-row-container">
  <% @bars.each do |bar| %>
    <%= link_to bar, class: "place-card" do %>
    <div class="place-card-heading"><p><%= bar.title %></p></div>

    <div class="place-card-detail">
      <p><%= Tap.where("bar_id = ? AND show_card = ?",bar.id,true).count %> Public Brew Cards<p>
        <p><%= Tap.where("bar_id = ? AND show_card = ? AND show_recipe = ? AND length(recipe) > ?",bar.id,true,true,0).count %> Public Recipes<p>
          <p><%= bar.requests %> Mobile App Views</p>
    </div>

    <% end %>
  <% end %>
</div>


  <%= paginate @bars %>
