<div class="landing-header">

  <h1>Brew Cards</h1>
  <h3>Design, Download, Drink!</h3>



</div>

</div>
<div class="divider"></div>

<div class="info-row">
  <div class="info-row-image">
    <%= fa_icon "paint-brush 2x", class: "secondary-text" %>
  </div>
  <div class="info-row-text-container">
    <p class="info-row-line-one">Create a free account!</p>
    <p class="info-row-line-two">Design your Brew Cards on the web.</p>
  </div>
</div>

<div class="info-row">
  <div class="info-row-image">
    <%= fa_icon "download 2x", class: "secondary-text" %>
  </div>
  <div class="info-row-text-container">
    <p class="info-row-line-one">Download the free mobile app on iTunes or Google Play!</p>
    <p class="info-row-line-two">Your account and Brew Cards can be viewed immediately on the mobile app.</p>
  </div>
</div>

<div class="info-row">
  <div class="info-row-image">
    <%= fa_icon "beer 2x", class: "secondary-text" %>
  </div>
  <div class="info-row-text-container">
    <p class="info-row-line-one">Drink!!</p>
    <p class="info-row-line-two">Share your restaurant drink menu digitally, update specials instantly!</p>
    <p class="info-row-line-two">No longer spend time going over drink specials or answering the "What's on tap?" question.</p>
  </div>
</div>

<div class="info-row">
  <div class="info-row-image">
    <%= fa_icon "thermometer-2 2x", class: "secondary-text" %>
  </div>
  <div class="info-row-text-container">
    <p class="info-row-line-one">Home Brewer?</p>
    <p class="info-row-line-two">Store your recipes here and optionally share them via the mobile app.</p>
  </div>
</div>



<div class="footer-button-container">
  <%= link_to "https://brewcards.herokuapp.com/users/new", class:"footer-button" do %>
  <p>Get Started</p>
  <% end %>

  <%= link_to "https://brewcards.herokuapp.com/bars", class: "footer-button" do %>
  <p id="get-started-text">Browse Cards</p>
  <% end %>
</div>

<div class="footer-button-container" style="padding:0px 0px 200px 0px">
  <%= link_to "https://itunes.apple.com/us/app/brewcards/id1159993912?ls=1&mt=8" do %>
  <%= image_tag "iTunes.svg" %>
  <% end %>

  <%= link_to "https://play.google.com/store/apps/details?id=com.ontap" do %>
  <%= image_tag "googleplay.svg" %>
  <% end %>
</div>
