<div class="landing-container">
  <div class="landing-section">
    <div class="landing-section-header">
      <p class="steps">Step One</p>
      <h1 class="landing-header-text">Design Cards Here</h1>
    </div>
    <%= image_tag "brewcardsweb.gif" %>

    <div class="bar-title-container">
      <%= link_to "https://brewcards.herokuapp.com/users/new" do %>
        <div class="get-started green white-text"><h2>Get Started</h2></div>
      <% end %>

      <%= link_to "https://brewcards.herokuapp.com/bars" do %>
        <div class="get-started yellow"><h2 id="get-started-text">Browse Cards</h2></div>
      <% end %>
    </div>


    <p class="steps">Step Three Profit??</p>

  </div>

  <div class="landing-section">
    <div class="landing-section-header">
      <p class="steps">Step Two</p>
      <h1 id="download-links-header">Tell Everyone To Download The App And Find Your Account</h1>
    </div>


    <div class="download-links">
      <%= link_to "https://itunes.apple.com/us/app/brewcards/id1159993912?ls=1&mt=8" do %>
        <%= image_tag "iTunes.svg", class: "link-button" %>
      <% end %>
      <%= link_to "https://play.google.com/store/apps/details?id=com.ontap" do %>
        <%= image_tag "googleplay.svg", class: "link-button" %>
      <% end %>

    </div>

    <div>
      <%= image_tag "brewcardsapp.gif" %>
    </div>
  </div>
</div>
