<div class="beer-image">
  <div class="margin-left">
    <div class="bar-title-container">
      <h1 class="bar-title"><%= @bar.title %> </h1>
      <% if user_signed_in? && @bar.user_id == current_user.id %>
      <div class="margin-left">
        <%= link_to 'Update Bar Info', edit_bar_path(@bar), class: "button blue margin-left" %>

        <%= link_to 'Add Brew Card', new_bar_tap_path(@bar), class: "button green margin-left" %>
      </div>
      <% end %>

    </div>

    <% if @taps.count > 0 %>
    <div class="bars-taps-container grey-text">
      <h2>Brew Cards</h2>
    </div>
    <% end %>


    <div class="bar-taps-container">
      <% @taps.each do |t,i| %>
      <div class="bar-tap-container">

        <div class="bar-tap-edit-container">
          <% if user_signed_in? && @bar.user_id == current_user.id %>
          <p><%= link_to 'Edit Card', edit_bar_tap_path(@bar,t), class: "small-button blue" %></p>
            <% if t.show_card %>
              <p class="green-text">public</p>
            <% else %>
              <p class="red-text">private</p>
            <% end %>
          <% end %>
        </div>

        <div class="preview-card" style="background-color:<%= t.color %>">
          <% if t.show_recipe && t.recipe.length > 0 %>

          <div class="ribbon" data-recipe="<%= t.recipe %>" ><a href="#recipe-modal"><span class="ribbon-text" >RECIPE</span></a></div>

          <% end %>
          <div class="card-title center-all" >
            <h1 class="bar-tap-title" style="color:<%= t.text_color %>"><%= t.title %></h1>
          </div>

          <div class="card-hops center-all">
            <% t.hoppiness.times do |i| %>
            <%= image_tag "hops.png", class: "card-hop-pic"%>
            <% end %>
          </div>

          <div class="card-picture center-all">
            <%= image_tag "#{t.image_id}.png"%>
          </div>

          <div class="card-description center-all">
            <p class="bar-tap-description" style="color:<%= t.text_color %>"><%= t.description %></p>
          </div>

        </div>
      </div>
      <% end %>
    </div>
  </div>


<!-- MODAL -->
<div id="recipe-modal" class="modalDialog">
    <div>	<a href="#close" title="Close" class="close">X</a>

        	<h2>Recipe</h2>

        <div id="recipe-modal-text"></div>
    </div>
</div>



</div>
