<%= simple_form_for([@bar,@tap]) do |f| %>

<div class="field">
  <h4>Name</h4>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="field">
  <h4>Short description</h4>
  <%= f.text_field :description, class: "form-control"  %>
</div>


<div class="field">
  <h4>Color Approximation</h4>
  <div id="selected-color"></div>
  <%= f.text_field :color, id: "beer-color", data: {color: @tap.color} %>
</div>


<div class="field">
  <h4>Select Image to display</h4>

<div class="flex-container">
  <% i = 0 %>
  <% while i < 30 do %>
    <div class="option-container">
      <div class="radio-button">
        <%= f.radio_button(:imageId, i, class: "margin-horizontal", id:"option-#{i}") %>
      </div>
      <label for="option-<%= i %>">
        <%= image_tag "#{i}.png" %>
      </label>
    </div>
    <% i += 1 %>
  <% end %>
</div>

</div>



  <div>
    <%= f.submit class: "button" %>
  </div>
<% end %>
