<div class="tap-maker">
  <div class="tap-maker-col-one">
    <%= simple_form_for([@bar,@tap]) do |f| %>

    <div class="margin-left">
      <h2>Title</h2>
      <%= f.text_field :title, id: "tap-title", class:"text-input", data: {title: @tap.title} %>
    </div>

    <div class="margin-left">
      <h2>Description</h2>
      <%= f.text_area :description, id: "tap-description", class:"text-field", data: {description: @tap.description} %>
    </div>


    <div class="color-pickers">
      <div class="color-picker center-all">
        <h4>Background Color</h4>
        <%= f.text_field :color, id: "beer-color", data: {color: @tap.color} %>
      </div>

      <div class="color-picker center-all">
        <h4>Text Color</h4>
        <div id="selected-text"></div>
        <%= f.text_field :text_color, id: "text-color", data: {textColor: @tap.text_color} %>
      </div>

    </div>



    <div>
      <h2>Hoppiness <small>( ..move slider.. )</small></h2>
      <div id="hoppiness-value"></div>
      <%= f.hidden_field :hoppiness, id: "tap-model-hop-val", data: {hoppiness: @tap.hoppiness,selectedimage:@tap.image_id} %>
    </div>



    <div>
      <h2>Select Image to display</h2>

      <div class="image-selector">
        <% i = 0 %>
        <% while i < 45 do %>
        <div class="option-container center-all" data-image_id="<%= i %>">
          <div class="radio-button">
            <%= f.radio_button(:image_id, i, class: "margin-horizontal", id:"option-#{i}") %>
          </div>
          <label for="option-<%= i %>">
            <%= image_tag "#{i}.png" %>
          </label>
        </div>
        <% i += 1 %>
        <% end %>
      </div>
    </div>

      <%= f.input :show_card, label: "Show Card?", as: :boolean, class: "checkbox" %>
      <p>(Show this card on the website AND the mobile app?)</p>


    <h2>Recipe</h2>
    <p>Store your recipe information here.</p>
    <p>Optionally share your recipe through the website and mobile app</p>
    <%= f.text_area :recipe, id: "recipe" %>



      <%= f.input :show_recipe, label: "Show Recipe?", as: :boolean, class: "checkbox" %>
      <p>(Show the recipe on the website AND the mobile app?)</p>

    <div>
      <%= f.submit "Save",class: "button green" %>
    </div>
    <% end %>
  </div>

  <div class="tap-preview">
    <h1>Card Preview</h1>
    <div class="preview-card" id="selected-color">

      <div class="card-title center-all">
        <h1 class="selected-text" id="title-preview" >Title</h1>
      </div>

      <div class="card-hops center-all" id="hops">
      </div>

      <div class="card-picture center-all">
        <%= image_tag "", id:"selected-image" %>
      </div>

      <div class="card-description center-all">
        <p class="selected-text" id="description-preview">Description</p>
      </div>

    </div>

  </div>

</div>
