<div class="background">
  <div class="statement">
    <h1>Brew Cards is free for you and me!</h1>
    <h2>Help keep it live and running!</h2>
    <h2>For $1-$5 a month, YOU can make a HUGE difference...that's A (singular) beer...</h2>
  </div>

  <div class="payment-options">

    <%= form_tag charges_path(1) do %>
      <div class="pay-container">
          <h1>Monthly Donation</h1>
          <p>go ahead...change the amount...feels good to give</p>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          <%= number_field_tag "subscription-amount", 1, min:1, max:10000  %>
          <button class="button" id="subscribe-button">Checkout via STRIPE</button>
      </div>
    <% end %>

    <%= form_tag charges_path(2) do %>
      <div class="pay-container">
          <h1>One Time Donation</h1>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          <%= number_field_tag "donation-amount", 10, min:1, max:10000  %>
          <button class="button" id="one-time-button">Checkout via STRIPE</button>
      </div>
    <% end %>

  </div>

  <div class="payment-options margin-top">
    <div class="status-card">
      <h1>Operational Status: <span class="yellow-text">Low Funds</span></h1>
      <h1>Mobile AND Web app could experience <span class="yellow-text">DOWNTIME</span></h1>
      <h1>I need a few more dollars a month to have <span class="green-text">ZERO downtime</span></h1>
      <h1>DONATE</h1>
      <p>This page will be updated with current status monthly</p>


    </div>
  </div>


</div>
<script>
  var handler = StripeCheckout.configure({
    key:"<%= Rails.configuration.stripe[:publishable_key] %>",
    name:"BrewCards",
    locale:"auto",
    image:"<%= asset_path('logo.png') %>",
    zipCode:"true",
  });

  document.getElementById("one-time-button").addEventListener('click',function(e){
    e.preventDefault();
    var amount = document.getElementById("donation-amount").value
    handler.open({
        amount: (amount * 100),
        description:"One Time Donation",
      });
  });

  document.getElementById("subscribe-button").addEventListener('click',function(e){
    e.preventDefault();
    var amount = document.getElementById("subscription-amount").value
    handler.open({
        amount: (amount * 100),
        description:"Monthly Donation Amount",
      });
  });

</script>
