<div class="my-nav">

  <div class="nav-header">
    <div class="nav-container">
      <%= link_to bars_path do %>
        <%= image_tag("24.png", size: "48x40", alt: "Logo", class:"clear-top") %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="nav-container">
        <p>Welcome to Brew Cards!</p>
      </div>
    <% end %>
  </div>

  <div class="nav-body">
    <% if user_signed_in? %>

    <div class="nav-container">
      <%= link_to "Create Bar", new_bar_path %>
    </div>

    <div class="nav-container">
      <%= link_to "All Bars", bars_path %>
    </div>

    <div class="nav-container">
      <%= link_to "Sign Out", sessions_path, method: :delete %>
    </div>

    <% else %>

    <div class="nav-container">
      <%= link_to "Sign In", new_session_path %>
    </div>

    <div class="nav-container">
      <%= link_to "Register", new_user_path %>
    </div>

    <% end %>
  </div>

</div>
