<!DOCTYPE html>
<html>
<head>
  <title>Brew Cards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="screen-warning">
    <h1>Screen too small!!</h1>
    <h3>Increse your window size to use this site, not optimized for small screens....sorry, but not sorry ;)</h3>
  </div>
<div id="my-content">

  <%= render "/layouts/navbar" %>
  <% if flash[:notice] %>
  <div class="alert green-opacity center-all" role="alert"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
  <div class="alert red-opacity center-all" role="alert"><%= flash[:alert] %></div>
  <% end %>
  <div class="page-container">
    <%= yield %>
  </div>
</div>
</body>
</html>
