<!DOCTYPE html>
<html>
<head>
  <title>Brew Cards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "/layouts/navbar" %>
  <% if flash[:notice] %>
  <div class="alert green-opacity center-all" role="alert"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
  <div class="alert red-opacity center-all" role="alert"><%= flash[:alert] %></div>
  <% end %>
    <%= yield %>


</body>
</html>
