<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'charges'%>
    <%= stylesheet_link_tag 'navbar'%>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
  </head>
  <body>
    <%= render "/layouts/navbar" %>
    <% if flash[:error] %>
    <div class="alert green-opacity center-all" role="alert"><%= flash[:error] %></div>
    <% else flash[:notice] %>
    <div class="alert green-opacity center-all" role="alert"><%= flash[:error] %></div>
    <% end %>
    <div class="background">

    <%= yield %>
  </div>
  </body>
</html>
